@model IEnumerable<Practica20240214.Models.Ropa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreRopa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoRopa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTallaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreRopa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoRopa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTallaNavigation.NombreTalla)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRopa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRopa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRopa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
